%tr{ :class => cycle('tarka','barka') }
  %td= order.created_at.to_s(:long)
  %td.quantity
    -for item in order.items
      %p= "#{item.quantity} x #{item.product.name}"
  %td.price= number_to_currency(order.total_price)
  %td= link_to 'Részletesen', admin_order_path(order)