= render :file => 'admin/categories/header.html'
%h2 Új kategória
-form_for @category, :url => admin_categories_path, :builder => MyFormBuilder do |f|
  = render :partial => 'admin/categories/form', :locals => {:f => f}
  
  = render :partial => 'admin/categories/new_attribute', :collection => @category.attrs, :as => :attribute
  
  = f.submit "Létrehozás"

= link_to 'Vissza', admin_categories_path
