%tbody.product
  %tr.details
    %td
      = product_sample_image_url(product)
      %h3.title= product.name
      .description= product.description
    %td.price= price_for_product(product)
  %tr.commands
    %td{:colspan=>"2"}
      = render :partial => 'products/commands', :locals => {:product => product}