#product-details
  %h2= @product.name
  #imagecolumn
    =sample_image_for_product(@product,:class=>"main-picture")
    .price 
      = price_for_product(@product)
    .commands
      = link_to 'Kosárba vele!', add_to_cart_path(:id => @product.id)
  #detailscolumn
    .details= @product.description
    
    -unless @product.attrs.empty?
      .attributes
        %h3 A termék jellemzői
        %table
          -@product.attrs.each_with_index do |attribute,index|
            - index+=1
            - unless (index % 2).zero?
              <tr>
            %th= attribute.name
            %td= attribute.value
            - if (index % 2).zero?
              </tr>
      
    .images
      %h3 További képek a termékről
      -for image in @product.images
        =image_for_product(image)
    -unless @product.tags.empty?
      .tags
        %h3 Keresés a hasonló címkéjű termékek között
        = render :partial => 'tags/tag_cloud', :locals => {:tags => Tag.all}

#related-products
  %h2 Kapcsolódó termékek
  = render :partial => 'mini', :collection => @product.releated(3), :as => :product