<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Webshop Adminisztrációs Felülete</title>

   <%= stylesheet_link_tag 'admin' %>
</head>
<body>
<div id="head">
  <h1> Adminisztráció</h1>
  <ul>
    <li><%= link_to 'Rendelések', admin_orders_path() %></li>
    <li><%= link_to 'Termék kategóriák', admin_categories_path() %></li>
    <li><%= link_to 'Termékek', admin_products_path() %></li>
    <li><%= link_to 'Felhasználók', admin_users_path() %></li>
    <% if @admin %>
    <li><%= link_to 'Kilépés', logout_path %></li>
    <% end %>
  </ul>
</div>
<div id="content">
  <% if flash[:notice] %>
    <div class="green"><%= flash[:notice]  %></div>
  <% end %>
  <% if flash[:error] %>
    <div class="red"><%= flash[:error] %></div>
  <% end %>

  <%= yield %>
</div>