<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Webshop Adminisztrációs Felülete</title>

  <!-- JQuery/JQuery UI -->
  <%= javascript_include_tag "/lib/jquery-1.4.2.min.js" %>
  <%= javascript_include_tag "/lib/jquery-ui-1.8rc3/js/jquery-ui-1.8rc3.custom.min.js" %>
  <%= stylesheet_link_tag "/lib/jquery-ui-1.8rc3/css/ui-lightness/jquery-ui-1.8rc3.custom.css" %>
  <!-- Fancybox -->
  <%= javascript_include_tag '/lib/fancybox/jquery.fancybox-1.3.1.pack.js' %>
  <%= stylesheet_link_tag '/lib/fancybox/jquery.fancybox-1.3.1.css' %>
   
	<!-- Custom CSS/JS -->
  <%= javascript_include_tag 'admin.js' %>
  <%= stylesheet_link_tag 'admin' %>
</head>
<body>
<div id="head">
  <h1> Adminisztráció</h1>
  <ul>
    <li><%= link_to 'Rendelések', admin_orders_path() %></li>
    <li><%= link_to 'Termék kategóriák', admin_categories_path() %></li>
    <li><%= link_to 'Termékek', admin_products_path() %></li>
    <li><%= link_to 'Felhasználók', admin_users_path() %></li>
    <% if @admin %>
    <li><%= link_to 'Kilépés', logout_path %></li>
    <% end %>
  </ul>
</div>
<div id="content">
  <% if flash[:notice] %>
    <div class="green"><%= flash[:notice]  %></div>
  <% end %>
  <% if flash[:error] %>
    <div class="red"><%= flash[:error] %></div>
  <% end %>

  <%= yield %>
</div>