<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Webshop Adminisztrációs Felülete</title>

   <%= stylesheet_link_tag 'admin' %>
</head>
<body>
<div id="head">
  <h1> Adminisztráció</h1>
  <ul>
    <li><%= link_to 'Rendelések', admin_orders_path() %></li>
    <li><%= link_to 'Termék kategóriák', admin_categories_path() %></li>
    <li><%= link_to 'Termékek', admin_products_path() %></a></li>
    <li>Felhasználók</li>
    <% if @user %>
    <li><%= link_to 'Kilépés', logout_path %></li>
    <% end %>
  </ul>
</div>
<div id="content">
  <%= yield %>
</div>