<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Webshop<% %></title>

   <!-- CSS -->
   <%= stylesheet_link_tag 'site.css' %>
   <%= stylesheet_link_tag 'lightbox.css' %>
   <!-- JS -->
   <%= javascript_include_tag 'prototype.js' %>
   <%= javascript_include_tag 'scriptaculous.js?load=effects,builder' %>
   <%= javascript_include_tag 'lightbox.js' %>
   <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
   <%= javascript_include_tag 'application.js' %>
</head>
<body>
  <div id="head">
    <h1><%= link_to 'Webshop', root_path %></h1>
    <ul>
      <li class="user">
        <% unless session[:user_id] %>
          <%= link_to 'Bejelentkezés vagy Regisztráció', login_or_registration_path %>
        <% else %>
          <%= link_to 'Felhasználói adatok', user_show_path() %>
        <% end %>
      </li>
      <li class="info"><%=  link_to 'Vásárlási információk', info_path %></li>
      <li class="about"><%= link_to 'A boltról', info_path %></li>
    </ul>
  </div>

  <div id="main">
    <div id="search">
      <h2>Keresés</h2>
        <% form_tag search_path, :method => :get do %>
          <%= text_field_tag :name %>
          <%= submit_tag 'Keresés', :name => nil %>
        <% end %>
      </form>
    </div>
    <div id="leftcolumn">
      <% if @cart and @show_cart %>
      <h2>A kosarad tartalma</h2>
      <div id="cartbox">
        <%= render :partial => 'cart/mini', :object => @cart %>
      </div>
      <% end %>
      <h2>Kategóriák</h2>
      <ul id="cat-list">
        <% if @current_category %>
            <li class="current">
              <%= link_to @current_category[:root].name, category_path(@current_category[:root]) %>
              <ul>
                <%= nested_list_for_categories(@current_category[:ancestors]) %>
                <% unless @current_category[:current].is_root? %>
                <li class='current'><%= link_to @current_category[:current].name, category_path(@current_category[:current]) %></li>
                <% end %>
                <% @current_category[:children].each do |child| %>
                <li><%= link_to child.name, category_path(child) %></li>
                <% end %>
              </ul>
            </li>
        <% end %>
        <% @categories.each do |category| %>
          <li><%= link_to category.name, category_path(category) %></li>
        <% end %>
    	</ul>
    </div>
    <div id="middlecolumn">
      <% if flash[:notice]%>
        <div id="notice"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:error] %>
        <div id="error"><%= flash[:error] %></div>
      <% end %>
      <%= yield :layout %>
    </div>
  </div>
  <div id="copyrights">
    <p>&copy; <a href="http://csiszarattila.com">Csiszár Attila</a>, 2008</p>
    <p>A weboldal  <a href="http://szakdolgozat.csiszarattila.com">egy szakdolgozat</a> on-line elérhető példányaként működik, kizárólag demonstrációs célokat szolgál, használatáért a készítő semmilyen felelősséget nem vállal.</p>
    A webshop logója <a href="http://www.bartelme.at/journal/archive/shopping_cart_icon/" title="Bartelme Design | Shopping Cart Icon">Wolfgang Bartelme</a>; 
    az ikonok <a href="  http://www.icontexto.com" title="Bruno Maia, IconTexto">Bruno Maia, IconTexto</a>;
    a termékek alapértelmezett képe <a href="http://www.mattbango.com/about" title="About Matt Bango | MattBango.com">Matt Bango</a> munkája.
    <p>Az oldal <a href="http://www.mozilla-europe.org/hu/firefox/" title="Firefox webböngésző | Gyorsabb, még biztonságosabb és testreszabható | Mozilla Europe">Mozilla Firefox</a> és <a href="http://www.apple.com/safari/" title="Apple - Safari">Safari</a> böngészőkre lett optimalizálva.</p>
  </div>
</body>
</html>
